<div class="container">
  {{#link-to "home"  (query-params author=null tag=null page=1) class="logo-font" }}
    conduit
  {{/link-to}}
  <span class="attribution">
    An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under MIT.
  </span>
</div>