<div class="col-md-3">
  <div class="sidebar">
    <p>Popular Tags</p>
    <div class="tag-list">
      {{#each tags as |tag|}}
        <a href="" class="label label-pill label-default">{{tag}}</a>
      {{/each}}
    </div>
  </div>
</div>