<ul class="pagination">
  {{#each pageArray as |item|}}
    <li class="page-item {{if (eq page item) 'active'}}" data-test-page-link>
      <a class="page-link" {{action 'updatePage' item}} role="button" href>{{item}}</a>
    </li>
  {{/each}}
</ul>