<footer>
  <div class="container">
    <LinkTo @route="index" @query={{hash author=null page=1 tag=null}} class="logo-font">conduit</LinkTo>
    <span class="attribution">
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under MIT.
    </span>
  </div>
</footer>