<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        {{article-form
          isNew=model.isNew
          errors=model.errors
          title=(readonly draftArticle.title)
          description=(readonly draftArticle.description)
          body=(readonly draftArticle.body)
          tags=(readonly draftArticle.tags)
          disableSubmit=(and (not isValid) (not draftArticle.hasDirtyAttributes))
          onSubmit=(action "saveArticle" draftArticle)
          onChange=(action "changeAttr" draftArticle)
        }}
      </div>
    </div>
  </div>
</div>