<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        {{#link-to 'home' class='nav-link' }}
          Home
        {{/link-to}}
      </li>
      {{#if isAuthenticated}}
        <li class="nav-item">
          {{#link-to 'editor.new' class='nav-link' }}
            <i class="ion-compose"></i>&nbsp;New Post
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'settings' class='nav-link' }}
            Settings
          {{/link-to}}
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" {{action 'sign-out'}}>
            Sign Out
          </a>
        </li>
      {{else}}
        <li class="nav-item">
          {{#link-to 'login' class="nav-link" }}
            Sign In
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'register' class="nav-link" }}
            Sign Up
          {{/link-to}}
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
{{outlet}}
<footer>
  <div class="container">
    {{#link-to 'home' class='logo-font' }}
      conduit
    {{/link-to}}
    <span class="attribution">
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under
      MIT.
    </span>
  </div>
</footer>