<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="">
          <i class="ion-compose"></i>&nbsp;New Post
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Settings</a>
      </li>
      <!-- Add "active" class when you're on that page" -->
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
    </ul>
  </div>
</nav>

{{outlet}}

<footer>
  <div class="container">
    <a href="/" class="logo-font">conduit</a>
    <span class="attribution">
      An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp; design licensed under MIT.
    </span>
  </div>
</footer>
