<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if session.isLoggedIn}}
              <li class="nav-item">
                <a class="nav-link disabled" href="">Your Feed</a>
              </li>
            {{/if}}
            <li class="nav-item">
              {{#link-to "home" (query-params page=1 tag=null) class="nav-link" data-test-global-feed="true"}}
                Global Feed
              {{/link-to}}
            </li>
            {{#if tag}}
              <li class="nav-item">
                <a class="nav-link active" href="">{{tag}}</a>
              </li>
            {{/if}}
          </ul>
        </div>
        {{#each model.articles as |article|}}
          {{feed-item article=article}}
        {{/each}}
        <nav>
          {{ul-pagination page=page totalPages=totalPages limit=postsPerPage}}
        </nav>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          {{tag-list}}
        </div>
      </div>
    </div>
  </div>
</div>