<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if isAuthenticated}}
              <li class="nav-item">
                <a class="nav-link disabled" href="">Your Feed</a>
              </li>
            {{/if}}
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>
        {{#impagination-dataset fetch=(route-action "fetch") on-init=(route-action 'initializeReadOffset') on-observe=(route-action
          "onObserve") page-size=model.pageSize as |records|}}
          {{#each records as |article|}}
            {{#if article.content}}
              {{feed-item article=article.content}}
            {{/if}}
          {{/each}}
          <nav>
            <ul class="pagination">
              {{#each records as |p index|}}
                {{#if (and (eq (mod index model.pageSize ) 0) (lt (div index model.pageSize) 50))}}
                  <li class="page-item">
                    {{#link-to "home" (query-params page=(add (div index model.pageSize) 1)) class="page-link" }}
                      {{add (div index model.pageSize) 1}}
                    {{/link-to}}
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </nav>
        {{/impagination-dataset}}
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            {{#each model.popularTags as |tag|}}
              <a href="" class="tag-pill tag-default">{{tag.value}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>