<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {{#if session.isLoggedIn}}
              <li class="nav-item">
                {{#link-to "home" (query-params feed="your" page=1 tag=null) class=(concat "nav-link " (unless feed disabled)) data-test-feed="your"}}
                  Your Feed
                {{/link-to}}
              </li>
            {{/if}}
            <li class="nav-item">
              {{#link-to "home" (query-params feed=null page=1 tag=null) class="nav-link" data-test-feed="global"}}
                Global Feed
              {{/link-to}}
            </li>
            {{#if tag}}
              <li class="nav-item">
                {{#link-to "home" (query-params feed=null page=1 tag=tag) class="nav-link" data-test-feed=tag}}
                  {{tag}}
                {{/link-to}}
              </li>
            {{/if}}
          </ul>
        </div>
        {{#each model.articles as |article|}}
          {{feed-item isLoggedIn=session.isLoggedIn article=article onFavoriteArticle=(action "favoriteArticle")}}
        {{/each}}
        <nav>
          {{pagination-list
            current=page
            total=model.meta.articlesCount
            pageSize=model.meta.pageSize
            existingParams=(hash feed=feed tag=tag)
          }}
        </nav>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          {{tag-list}}
        </div>
      </div>
    </div>
  </div>
</div>