<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          {{#link-to 'register'}}
            Need an account?
          {{/link-to}}
        </p>
        {{#if errors}}
          <ul class="error-messages">
            {{#each errors as |error|}}
              <li>{{error}}</li>
            {{/each}}
          </ul>
        {{/if}}
        <form>
          <fieldset class="form-group">
            {{input
                type='email'
                class='form-control form-control-lg'
                placeholder='Email'
                value=email}}
          </fieldset>
          <fieldset class="form-group">
            {{input
                type='password'
                class='form-control form-control-lg'
                placeholder='Password'
                value=password}}
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" {{action 'login' session email password}}>
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>