<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        {{settings-form
          errors=user.errors
          image=(readonly user.image)
          username=(readonly user.username)
          bio=(readonly user.bio)
          email=(readonly user.email)
          password=(readonly user.password)
          onSubmit=(action "saveSettings" user)
          onChange=(action "changeAttr" user)
          disableSubmit=(not user.hasDirtyAttributes)
        }}
        <hr>
        <button {{action "signOut"}} type="button" class="btn btn-outline-danger" data-test-settings-logout-button>
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>